/* ==== Laptop Device ==== */
@media (min-width: 1024px) and (max-width: 1198.99px){
    .price .priceBox .head {
        padding: 25px 30px;
    }
    .price .priceBox ul.body {
        padding: 20px 30px;
        margin: 0;
    }
    .price .priceBox.active .head h5 {
        font-size: 30px;
    }
}
/* ==== Tablet Device ==== */
@media (min-width: 768px) and (max-width:991.98px){
    .cFormLeft {
        margin-bottom: 20px;
    }
    .counter .counterBox {
        width: 160px;
    }
    .blogBox{
        min-height: 315px;
        .blogImg{
            height: 165px;
        }
        .blogCnt{
            padding: 15px 20px 10px;
        }
    }
    ul.navbar-nav{
        background-color: $colorMain;
    }
    .bnrInsideText{
        padding: 0 40px;
    }
}

/* ==== Mobile Device ==== */
@media(max-width: 767.98px){
    .buttons a{
        margin-bottom: 10px;
        margin-right: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .banner .bnr .bnrInside .bnrInsideBox .bnrInsideText h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .bnrInsideText{
        padding-top: 60px;
    }
    .mainBanner .bannerArrowsLeft, .mainBanner .bannerArrowsRight{
        opacity: 0;
    }
    .blogBox{
        min-height: 315px;
    }
    .aboutLeft{
        margin-bottom: 20px;
    }
    .counter .counterBox {
        width: 100%;
        margin-bottom: 30px;
    }
    .portfolio .portfolioBox .portImg {
        height: auto;
    }
    .newsletter {
        .newsletterLeft{
            text-align: center;
        }
        .newsletterRight {
            text-align: center;
        }
    }  
    .cFormLeft{
        margin-bottom: 20px;
    }
    footer{
        .footerLeft{
            text-align: center;
            margin-bottom: 10px;
        }
        .footerRight{
            text-align: center;
            .social{
                text-align: center;
            }
        }
    } 
    .newsletter{
        .newsletterRight{
            .signup{
                input[type='email'] {
                    min-width: 300px;
                }
            }
        }
    } 
    .commentBox ul.subCommentList{
        margin-left: 30px;
    }    
    .commentBox .mainComment .user, .commentBox .subComment .user{
        display: none;
    }
}

/* ==== Mobile Device large ==== */
@media(min-width:576px) and (max-width: 767.98px){
    .blogBox{
        min-height: 315px;        
        .blogCnt{
            padding: 15px 20px 10px;
        }
    }
}

/* ==== All small devices ==== */
@media (max-width: 991px){
    .navbar-nav{
        background-color: $colorMain;
    }
}